{% extends "layout.html" %}
{% block body %}

<form action="/register" method="POST">
                user ID: <input type="text" name="newUser_id"><br>
                user firstname: <input type="text" name="newUser_firstname"><br>
                  user lastname: <input type="text" name="newUser_lastname"><br>
                  userPW: <input type="text" name="newUser_pw"><br>
            retype userPW: <input type="text" name="newUser_pw2"><br>
                  <input type="submit" value="Submit"><br>
              </form>

{% endblock %}
